
.jumbotron {
	background: green;
	color: white;
}


footer {
	color: white;
	padding: 10px 10px 0 10px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.card-hotel {
	flex: 1 200px;
	
}

.bg-cover {
    background-size: cover !important;
}

.card-img-top img{
    max-height: 100%;
    max-width: 100%;
}

.card-columns {
	column-break-inside: avoid;
}

.footer-icon-css {
	padding-right: 10px;
}

.btn-reserva {
	border-radius: 0px;
}

